<html lang="en">
<head>
<title>Tiny App</title>
</head>
<body>
<%- include('partials/_header') %>

 <% Object.keys(urls).forEach(function(key){ %>

  <h3> <%= key %>  - <%= urls[key] %>

<form method="POST" action="/urls/<%= key %>/delete">

<input type = "submit" value = "Delete">
</form>
<a href = '/urls/<%= key %>'> Edit </a>
</h3>

<% }) %>

</ul>
</body>
</html>
